.done-list {
  color: rgb(0, 21, 255);
  list-style: none;
  max-width: fit-content;
  background-color: rgb(230, 230, 230);
  padding: 1vw 1vw 1vw 1vw;
  border: 1px solid rgb(0, 21, 255);
}

.recentHeader {
  margin: 1vw;
  color: blue;
}
