.edit-container {
  display: flex;
  flex-direction: row;
}

textarea {
  margin-top: 2rem;
  width: 70vw;
  height: 20vw;
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
}

.editBtn {
  font-size: large;
  margin-top: 2vw;
  width: fit-content;
  margin-right: 70vw;
}

.editBtn:hover {
  background-color: rgb(0, 255, 174);
}

@media only screen and (max-width: 767px) {
  .editBtn {
    margin-top: 1vw;
    margin-left: 80vw;
  }
}
